@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* banner styles start */
#banner{
    border-radius: 24px;
background: rgb(198, 228, 214);
margin: 0 auto;
margin-top: 100px;
width: 1300px;
}

.banner-text-fig{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}
.banner-fig{
    padding: 60px;
}
/* .banner-text{ */
    /* margin-left: 10px; */

.banner-title{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.banner-heading{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
margin-top: 0px;
}
.banner-button{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 190px;
height: 40px;
margin-bottom: 20px;
border: none;
color: rgb(255, 255, 255);
}
.vission-button1:hover, .vission-button2:hover, .vission-button3:hover, .banner-button:hover, .news-button:hover, .news-button2:hover, .tk-button:hover{
    background-color: rgb(218, 22, 4);
}
/* vission area */
#vission{
    width: 1280px;
    height: 765px;
    margin: 100px;
}
.vission-heading{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 35px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0%;
text-align: left;
}
.vission-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}

.vission-cards-container{
    display: flex;
    justify-content: space-evenly;
}
.vission-card1{
    background-color: rgba(84, 144, 245, 0.2);
    width: 410.67px;
    height: 350px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 16px;
    
}
.vission-card2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    width: 410.67px;
height: 350px;
padding: 32px;
    }
.vission-card3{
    width: 410.67px;
height: 350px;
padding: 24px;
box-sizing: border-box;
border-radius: 16px;

background: rgb(247, 235, 207);
    box-sizing: border-box;
    border-radius: 16px;
    width: 410.67px;
    padding: 32px;

}
.vission-card-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.vission-card-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.vission-button1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    border: none;
}
.vission-button2{
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    border: none;
    background: rgb(9, 161, 92);
    border-radius: 8px;
    margin-top: 13px;
    }
.vission-button3{
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    border: none;
    background: rgb(255, 194, 57);
    border-radius: 8px;
    margin-bottom: 7px;
}
.yunus{
    background-color: rgb(251, 251, 251);
    width: 1280px;
    height: 200px;
    margin: 0 auto;
    border-radius: 16px;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
padding-top: 20px ;
padding-left: 20px;
padding-right: 20px;
margin: 30px 60px 0px 15px;
background-image: url("../assets/quote-bg.png");
background-repeat: no-repeat;
}
.yunustitle{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 15px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 0px;
}
.yunussub{
    margin-top: 0px;
}
/* news style */
.news-start{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
margin: 0px 160px 0px 130px;
}
.news-start-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 20px 160px 0px 130px;
}
.news-container1{
    display: flex;
    gap: 60px;
    padding: 48px;
    padding-left: 50px;
    margin: 0 auto;
    background-color: whitesmoke;
    flex-direction: row;
    justify-content: center;
    width: 1190px;
    height: 270px;
    border-radius: 24px;
}
.sattelite{
    border-radius: 24px;
}
.sattelite-card{
    margin-top: 0px;
    margin-bottom: 20px;
}
.date-time{
    display: flex;
    gap: 5px;
    width: 744px;
height: 24px;
margin-bottom: 5px;
}
.al-jazeera{
    width: 134px;
height: 40px;
margin-top: 0px;
}
.news-button{
    width: 139px;
height: 48px;
border-radius: 8px;
background: rgb(0, 106, 80);
border: none;
color: rgb(255, 255, 255);

}
.news-container2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    gap: 60px;
    padding: 48px;
    padding-left: 50px;
    margin: 0 auto;
    background-color: whitesmoke;
    flex-direction: row;
    justify-content: center;
    width: 1190px;
    height: 270px;
    border-radius: 24px;

}
.sattelite2{
    border-radius: 24px;
}
.sattelite-card2{
    margin-top: 0px;
    margin-bottom: 20px;
}
.date-time2{
    display: flex;
    gap: 5px;
    width: 744px;
height: 24px;
margin-bottom: 5px;
}
.al-jazeera2{
    width: 134px;
height: 40px;
margin-top: 0px;
}
.news-button2{
    width: 139px;
height: 48px;
border-radius: 8px;
background: rgb(0, 106, 80);
border: none;
color: rgb(255, 255, 255);

}
.donation-container{
    width: 1280px;
height: 464px;
    margin: 0 auto;
}
.donation-heading{
    text-align: center;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 35px;
font-weight: 600;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.donation-description{
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin: 0px 24px;
}
.tk-card div{

width: 200px;
height: 65px;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 25px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 34px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
border-radius: 16px;
background: rgb(255, 255, 255);
}
.tk2{
    background: rgb(198, 228, 214);
}
.tk-card{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
gap: 24px;
padding: 0px;
}
input{
    width: 1020px;
    height: 30px;
align-items: center;
gap: 32;
padding: 0px;



flex: none;
order: 4;
flex-grow: 0;
margin: 20px 0px;
text-align: center;
margin-left: 150px;
}
.tk-button{
    width: 151px;
height: 56px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 17px 34px 17px 34px;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background: rgb(0, 106, 80);
border: 1px solid rgba(14, 14, 14, 1.2);
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
margin-left: 580px;
} 
/* subscriber section */


